wifi_ssid: "DEIN-WLAN"
wifi_password: "WLAN-PASSWORT"

api_encryption_key: "HIER_32_BYTE_BASE64_AUS_ESPHOME"
ota_password: "OTA-PASSWORT"

# Nur falls du den Puppet-Screenshot-Weg nutzt:
ha_url: "http://192.168.1.10:8123"
puppet_url: "http://192.168.1.10:10000/lovelace/e1001?viewport=800x480&eink=2&invert"
